.experience-page {
  padding: 6rem 2rem;
}

.exp-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  padding-left: 1rem;
  border-left: 4px solid #8b5e34;
}

.timeline-item {
  position: relative;
  padding-left: 1rem;
  margin: 1.5rem;
}

.sub-bullets {
  margin-top: 0.25rem;
  margin-left: 1.25rem;
  list-style-type: circle;
  font-size: clamp(0.8rem, 0.7vw + 0.5rem, 1.1rem);
}

.card {
  background: #fff9f3;
  padding: 1.5rem;
  border-radius: 16px;
  border: 1px solid #ecd8c8;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.period {
  color: #555;
  font-size: 1rem;
}

.company {
  font-style: italic;
  margin-top: 0.3rem;
}

.card-header h3 {
  margin: 0;
  font-size: clamp(0.9rem, 1vw + 0.6rem, 1.3rem);
}
.sub-title {
  margin: 0rem;
  font-size: 1rem;
}

.bullets {
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-size: clamp(0.8rem, 0.7vw + 0.5rem, 1.1rem);
}

.single-bullet {
  margin: clamp(0.2rem, 0.2vw, 0.4rem);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  background: white;
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  border: 1px solid #d9c0ab;
  font-size: 0.8rem;
}
